.col-auto {
    width: auto;
    max-width: none;
    flex: 0 0 auto;
    position: absolute!important;
    right: 0!important;
}

.icon{
    width: 1rem!important;
    height: 1rem!important;
}

.icon-shape i, .icon-shape svg{
    font-size: .7rem!important;
}

.chart-empty{
    padding-top: 180px;
    padding-bottom: 180px;
    vertical-align: middle!important;
    text-align: center!important;
}

.morris-default-style{
    padding: .25rem .5rem;
    background-color: #46494d;
    font-size: .75rem;
    border-radius: .25rem;
    text-align: left!important;
}

@media (min-width: 5001px) {
    .px-risk {
        padding: 0 0 0 95px;
    }
    .chart-height{
        width:auto!important;
        height: 2200px!important;
    }
}@media (min-width: 4001px) and (max-width: 5000px) {
    .px-risk {
        padding: 0 0 0 75px;
    }
    .chart-height{
        width:auto!important;
        height: 1620px!important;
    }
}@media (min-width: 3181px) and (max-width: 4000px)  {
    .px-risk {
        padding: 0 0 0 60px;
    }
    .chart-height{
        width:auto!important;
        height: 1500px!important;
    }
}@media (min-width: 2901px) and (max-width: 3180px) {
    .px-risk {
        padding: 0 0 0 50px;
    }
    .chart-height{
        width:auto!important;
        height: 965px!important;
    }
}@media (min-width: 2731px) and (max-width: 2900px) {
    .px-risk {
        padding: 0 0 0 45px;
    }
    .chart-height{
        width:auto!important;
        height: 900px!important;
    }
}@media (min-width: 2731px) and (max-width: 2900px) {
    .px-risk {
        padding: 0 0 0 45px;
    }
    .chart-height{
        width:auto!important;
        height: 865px!important;
    }
}@media (min-width: 2591px) and (max-width: 2730px) {
    .px-risk {
        padding: 0 0 0 42px;
    }
    .chart-height{
        width:auto!important;
        height: 800px!important;
    }
}@media (min-width: 2431px) and (max-width: 2590px) {
    .px-risk {
        padding: 0 0 0 39px;
    }
    .chart-height{
        width:auto!important;
        height: 765px!important;
    }
}@media (min-width: 2301px) and (max-width: 2430px) {
    .px-risk {
        padding: 0 0 0 36px;
    }
    .chart-height{
        width:auto!important;
        height: 700px!important;
    }
}@media (min-width: 2130px) and (max-width: 2300px) {
    .px-risk {
        padding: 0 0 0 33px;
    }
    .chart-height{
        width:auto!important;
        height: 665px!important;
    }
}@media (min-width: 2001px) and (max-width: 2129px) {
    .px-risk {
        padding: 0 0 0 30px;
    }
    .chart-height{
        width:auto!important;
        height: 600px!important;
    }
}@media (min-width: 1826px) and (max-width: 2000px) {
    .px-risk {
        padding: 0 0 0 27px;
    }
    .chart-height{
        width:auto!important;
        height: 565px!important;
    }
}@media (min-width: 1701px) and (max-width: 1825px) {
    .px-risk {
        padding: 0 0 0 24px;
    }
    .chart-height{
        width:auto!important;
        height: 500px!important;
    }
}@media (min-width: 1521px) and (max-width: 1700px) {
    .px-risk {
        padding: 0 0 0 21px;
    }
    .chart-height{
        width:auto!important;
        height: 465px!important;
    }
}@media (min-width: 1401px) and (max-width: 1520px) {
    .px-risk {
        padding: 0 0 0 18px;
    }
    .chart-height{
        width:auto!important;
        height: 400px!important;
    }
}@media (min-width: 1200px) and (max-width: 1400px) {
    .px-risk {
        padding: 0 0 0 15px;
    }
    .chart-height{
        width:auto!important;
        height: 365px!important;
    }
}@media (min-width: 800px) and (max-width: 1199px) {
    .px-risk {
        padding: 0 0 0 9px;
    }
    .chart-height{
        width:auto!important;
        height: 365px!important;
    }
}@media (min-width: 768px) and  (max-width: 799px) {
    .px-risk {
        padding: 0 0 0 5px;
    }
    .chart-height{
        width:auto!important;
        height: 365px!important;
    }
}@media (min-width: 576px) and  (max-width: 767px) {
    .px-risk {
        padding: 0 0 0 9px;
    }
    .chart-height{
        width:auto!important;
        height: 365px!important;
    }
}@media (max-width: 575px) {
    .px-risk {
        padding: .25rem 0;
    }

    .chart-height{
        width:auto!important;
        height: 365px!important;
    }
}

@media (min-width: 576px){
    .col-sm-label-risk {
        max-width: 10.5%;
        flex: 0 0 10.5%;
        align-self: center;
    }

    .col-sm-form-risk {
        max-width: 89.5%;
        flex: 0 0 89.5%;
    }
}

.col-sm-label-risk,
.col-sm-form-risk{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


@media (max-width: 199px){
    .px-collapse{
        padding-left: .0rem !important;
        padding-right: .0rem !important;
    }
    .w-collapse {
        width: 85% !important;
    }
}
@media (min-width: 200px) and (max-width: 348px){
    .px-collapse{
        padding-left: .2rem !important;
        padding-right: .2rem !important;
    }
    .w-collapse {
        width: 90% !important;
    }
}
@media (min-width: 349px) and (max-width: 476px){
    .px-collapse{
        padding-left: .4rem !important;
        padding-right: .4rem !important;
    }
    .w-collapse {
        width: 92% !important;
    }
}
@media (min-width: 477px) and (max-width: 814px){
    .px-collapse{
        padding-left: .7rem !important;
        padding-right: .7rem !important;
    }
    .w-collapse {
        width: 95% !important;
    }
}
@media (min-width: 815px) and (max-width: 999px){
    .px-collapse{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .w-collapse {
        width: 96% !important;
    }
}
@media (min-width: 1000px) and (max-width: 1300px) {
    .px-collapse{
        padding-left: 1.3rem !important;
        padding-right: 1.3rem !important;
    }
    .w-collapse {
        width: 97% !important;
    }
}
@media (min-width: 1301px) {
    .px-collapse{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .w-collapse {
        width: 98% !important;
    }
}

.text-collapse{
    font-family: Open Sans, sans-serif!important;
    font-size: 1rem!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    color: #525f7f!important;
}

.dataTables_length {
    display: none;
}

body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-ajax {
    display: block;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .95)!important;
}
.bg-white .navbar-toggler-icon{
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(0, 0, 0, 0.5)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E");
}
.navbar-border-bottom{
    border: 1px solid rgba(255,255,255,.08)!important
}

@media (min-width: 768px) {
    .sticky-navbar {
        position: fixed!important;
        top: 0!important;
        width: 100%!important;
        background: linear-gradient(87deg, #2bccf3, #2bccf4 100%) !important;
    }

    .main-content .container-fluid {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

@media (min-width: 576px) {
    .offset-label-error-sales{
        margin-left: 17%;
    }

    .offset-label-error-user{
        margin-left: 25.5%;
    }

    .ml-input-2{
        margin-left: .5rem!important;
    }

    .form-control-btn-0 {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .form-control-btn {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-right: .5rem;
        margin-left: .5rem;
    }

    .form-control-input {
        margin-left: .5rem;
    }
}

@media (max-width: 575px) {
    .ml-input-2{
        margin-left: 0px!important;
    }

    .w-select-100{
        width: 100%!important;
    }

    .form-control-btn-0, .form-control-btn {
        font-size: 1rem;
        line-height: 1.5;
        display: block;
        width: 100%;
        height: calc(2.75rem + 2px);
        padding: .625rem .75rem;
        transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
        /*color: #8898aa;*/
        border: 1px solid #cad1d7;
        border-radius: .375rem;
        background-clip: padding-box;
        box-shadow: none;
        margin-right: 0px!important;
        margin-left: 0px!important;
    }

    .form-control-input {
        margin-left: 0px;
    }
}

.d-border-radius-0{
    border-radius: 0px!important;
}

.main-content .navbar-top{
    z-index: 99!important;
}

.form-inline-label{
    justify-content: left!important;
}

.menu-active{
    background: linear-gradient(87deg, #2ac4f4 0, #bcd630 100%) !important;
}

.nav-link:hover {
    color: #000000e0 !important;
}
.nav-link{
    color: rgba(0, 0, 0, .5) ;
}
.menu-active{
    color: white !important;
}
.breadcrumb{
    background-color: #ffffffb0 !important;
}
.btn-white{
    color:#ADB5BD;
    background-color:#FFFFFF;
    border-color:#cad1d7;
    box-shadow: none!important;
    font-weight: 400!important;
}
.btn-white:hover{
    border-color:#cad1d7!important;
}

.d-border-input{
    border: 1px solid #cad1d7;
    box-shadow: none;
}

.bootstrap-select.disabled, .bootstrap-select>.disabled{
    color:#ADB5BD;
    background-color:#E9ECEF;
}

@media (min-width: 1160px) {
    .p-login {
        padding-right: 25% !important;
        padding-left: 25% !important;
        padding-top: 12vh !important;
        /*padding-bottom: 10px !important;*/
        min-height: 100vh;
    }
}

@media (min-width: 1047px) and (max-width: 1159px) {
    .p-login {
        padding-right: 20% !important;
        padding-left: 20% !important;
        padding-top: 11vh !important;
        /*padding-bottom: 100px !important;*/
        min-height: 100vh;
    }
}

@media (min-width: 992px) and (max-width: 1046px) {
    .p-login {
        padding-right: 27.5% !important;
        padding-left: 27.5% !important;
        padding-top: 10vh !important;
        /*padding-bottom: 100px !important;*/
        min-height: 100vh;
    }
}

@media (max-width: 991px) {
    .p-login {
        padding-right: 5% !important;
        padding-left: 5% !important;
        padding-top: 9vh !important;
        /*padding-bottom: 100px !important;*/
        min-height: 100vh;
    }
}

.d-border-error{
    border: 1px solid #fb6340!important;
}

.d-border-error-icon-login{
    border-left: 1px solid #fb6340!important;
    border-top: 1px solid #fb6340!important;
    border-bottom: 1px solid #fb6340!important;
}
.d-border-error-input-login{
    border-right: 1px solid #fb6340!important;
    border-top: 1px solid #fb6340!important;
    border-bottom: 1px solid #fb6340!important;
}

.toolbar{
    float: left;
}

.toolbarfull{
    float: left;
    width: 100%!important;
}

.toolbarfullsrch{
    float: left;
    width: 100%!important;
}

.bootstrap-select.is-invalid .dropdown-toggle, .error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle, .was-validated .bootstrap-select .selectpicker:invalid+.dropdown-toggle {
    border-color: #fb6340!important;
}

.lbl-user-type > .is-invalid > .btn.dropdown-toggle:focus,
.lbl-user-status > .is-invalid > .btn.dropdown-toggle:focus,
.lbl-group > .is-invalid > .btn.dropdown-toggle:focus {
    outline: none!important;
}

.sa-placeholder {
    border: 4px solid rgba(42, 217, 0, 0.2);
}

.sa-icon.sa-success .sa-line {
    background-color: #2DCE89;
}
.sa-icon.sa-error .sa-line {
    background-color: #f5365c;
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}

.sweet-alert{
	z-index:2!important;
}
.selectToolbar{
    display: inline-block;
}
.dataTables_filter{
    display: inline-block;
    float:right;
}

.table th, .table td{
    padding-top:.3rem;
    padding-bottom:.3rem;
    vertical-align: middle!important;
}
.table-hoverclick tr td{
    cursor: pointer;
}
.m-top-min-4{
    margin-top: -4px;
}
.navbar-vertical .navbar-brand > img{
    max-height: none;
}
.navbar-blue{
    background: linear-gradient(87deg, #2ac4f4 0, #bcd630 100%) !important;
}
.logo-dx{
    height: 50%;
    width: 50%;
}
.navbar-brand{
    width: 100%;
    text-align: center;
}
@media (max-width: 710px){
    .logo-dx{
        height: 22%;
        width: 22%;
    }
    .navbar-top{
        display: none;
    }
    .navbar-brand{
        width: 50%;
        text-align: center;
    }
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 8px !important;
}

.mbox {
    display: inline-block;
    width: 70px;
    height: 10px;
    margin: 10px 55px 10px 25px;
    padding-left: 4px;
}

.mbox-mini {
    display: inline-block;
    /* width: 70px; */
    height: 10px;
    margin: 10px 15px 10px 15px;
    padding-left: 4px;
}